<div class="container">
  <h1>Welcome to AnonBlog!</h1>
  <h3>Please choose from the following options</h3>
<ol id="#selection">
  <li> <a href="/post">See titles of all posts</li>
  <li> <a href="/post/new">Create a new post</li>
  <li> <a href="/tag">Select titles by tag</li>
</ol>



</div>
