
<div class="row">
  <div class="panel eight columns">
    <% if @tag %>
      <h4>Articles tagged with <em><%=@tag.name%></em></h4>
    <% else %>
      <h4>Our Current Posts</h4>
    <% end %>
    <ul class="no-bullet">
    <% @posts.each do |post| %>
      <li><%=post_link(post)%></li>
    <% end %>
  </ul>
  </div>
  <div class="panel four columns">
    <h4>Available Tags</h4>
    <ul class="no-bullet">
    <li><a href="/posts">[All]</a></li>
    <% @tags.each do |tag| %>
      <li><%=tag_link(tag)%></li>
    <% end %>
  </ul>
  </div>
</div>
