<div class="row">
  <div class="panel eight columns">
      <h4><%=@post.title%></h4>
      <p><%=@post.body%></p>
  </div>
  <div class="four columns">
    <h3>Design is Hard</h3>
    <p>That's why I let Zurb do the hard work</p>
  </div>
</div>

