<div class="row">
  <div class="panel eight columns">
      <h4><%=@post.title%></h4>
      <p><%=@post.body%></p>
  </div>
  <div class="panel four columns">
    <h4>Available Tags</h4>
    <ul class="no-bullet">
    <li><a href="/posts">[All]</a></li>
    <% @tags.each do |tag| %>
      <li><%=tag_link(tag)%></li>
    <% end %>
  </ul>
  </div>
</div>

